html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//variables
$add: #27ad6f;
$edit: #2756ad;
$delete: #ad2727;
$input: rgb(184, 180, 180);
$inputBackground: rgb(255, 254, 189);

//styling
html {
	font-family: Gaegu, sans-serif;
	font-size: 10px;
	box-sizing: border-box;
	background-color: #00000005;
}
.title {
	text-align: center;
	margin-top: 5em;
}
.title p {
	font-size: 2.5em;
	margin-bottom: .8em;
}
.title h1 {
	font-size: 4em;
	margin-bottom: .5em;
}
#add-list, #edit-list {
	font-family: Poppins, sans-serif;
	border: 2px solid $input;
	border-radius: 4px;
	background-color: $inputBackground;
}
.form, .counterDiv {
	margin: auto;
	text-align: center;
	max-width: 80%;
}
.counterDiv p {
	font-size: 2.5em;
	margin-bottom: .8em;
}
.addBtn, .editBtn, .deleteBtn {
	font-family: Poppins, sans-serif;
	margin-left: .5em;
	background-color: $add;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	padding: .3em .7em;
}
.editBtn {
	background-color: $edit;
}
.deleteBtn {
	background-color: $delete;
}
input[type='submit'], .editBtn, .submitBtn, [aria-label] {
	cursor: pointer;
}
#edit-box {
	display: none;
	max-width: 80%;
	margin-left: 44.2%;
}
table {
	margin: auto;
	margin-top: 3em;
}
th {
	font-size: 3em;
	margin: 1em 0;
	text-align: center;
}
td {
	font-size: 2em;
	letter-spacing: -.1em;
	padding: .2em;
}
.old {
	margin: auto;
}
.old h2 {
	font-size: 3em;
	margin: 1em 0;
}
.old p {
	font-size: 2.5em;
	text-decoration: line-through;
}